.main_plan{
  position: relative;
  display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: auto;
    top: 100px;
}
.plan_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}
 
.plan_body {
  display: flex;
  flex-direction: column;
    position: relative;
    width: 330px;
    height: 760px;
     
    margin: 0px 50px 0px 50px;
     
    align-items: center;
    text-align: center;
    border: ridge; 
    border-radius: 10px;
}
.plan_body:hover {
  border-color: red;
}
.plan_icon {
  position: relative;
  width: 144.9px;
  height: 165.37px; 
}
.plan_detail {
  position: relative;
    width: auto;
    height: 65px;
    
    
}
.feature_listp {
  
  text-align: left;
  font-size: 14px; 
  width: 100%;
  

}
.feature_listp > ul {
  list-style: none;
}
.feature_listL {
  display: flex;
  flex-direction: row;
  align-items: center; 
  float: left;
}

.plan_price {
  position: absolute;
  font-weight: 200px;
  margin-top: 615px;
}
.btn_select {
  position: absolute;
  display: flex;
  margin-top: 665px;
}