.title h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    align-content: center;
}
.title {
     
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.home_intro{ 
   
} 
.service_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1140px;
    height: 200px;
    margin-left: 150px;
    margin-top: 96px;
    padding-inline-end: 1.5rem;
    
   
     
    
}
 
.home_box{
    
    position: relative;
    width: 100%;
 
    
}
.plan_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}