.title h1 {
    
    align-content: center;
}
.title {
     
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.home_intro{ 
   
} 
.service_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1140px;
    height: 200px;
    margin-left: 150px;
    margin-top: 96px;
    padding-inline-end: 1.5rem;
    
}
.feature_intro {
    margin-bottom: 0px; 
    height: 414.71px;
    padding: 96px 0px 200px 0px;
}
 
.home_box{
    
    position: relative;
    width: 100%;
 
    
}
.plan_section {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
     
   
}
.plan_title {
    text-align: center;   
    height: auto; 
    padding-bottom: 60px;
}

.plan_cards {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 760px;
}
.map_section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
      /* to center conternt horizontal */
    margin-top: 150px;

}
.customer_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    height: 590px;
    width: 1300px;
    margin-left: 150px;
     
   
}
.customer_title {
    text-align: center;   
    height: auto; 
    padding-bottom: 60px;
     
    background-color: aqua;
}

.customer_cards {
    display: flex;
    flex-direction: column;
    
}
.customer_card_list {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    height: 260px;
    margin-right: 0px;
}
.sub_cards {
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}
.sub_cards > Btn {
    width: 50px;
}

.subscrib_section {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: aqua;
    margin-left: 150px;
    margin-top: 155px;
    height: 233px;
    width: 1140px;
    align-items: center; 
}
.subscrib_text{
    
    margin-left: 70px;
}
#btn-sub {
    margin-left: 340px;
}

.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 563.12px;
    width: 1436px;
    border: solid;
}