.intro {
  
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: red;
}
.intro-body{
    background-color: green;
    width: 25%;
    height: 50%;
}
.intro_img {
 
    margin-right: 0cm;
    background-color: black;
    height: 100%;
}