 .Clock_Container{
     display: flex;
     flex-direction: rox; 
     justify-content: space-between;  
     margin-left: 1%;
     margin-right: 1%;
     margin-top: 10%;
  
 }
 .Card_Container{
    display: flex;
    flex-direction: rox; 
    justify-content: space-between;  
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
 }
 .AppClock{
     background-color:aliceblue;
     height: 50rem;
 }