.right-toolbar {
     
    width: 70%;
    height: 100%;
    background: white ;
    height: 100%;
    top: 0;
    margin-right: 0%;
    margin-left: 15%;
    padding-left: 0.5rem;
    box-shadow: 0.5px 0.5px rgb(0, 0, 0.5);
    z-index: 0;
}
.right-toolbar_navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}
 
.right-toolbar_logo {

    color: #F5E336;
    text-decoration: none;
    font-size: 0.5rem ;
    padding: 0 1rem;
}
.right-toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.right-spacer {
    flex: 0.1;
}

.right-toolbar_navigation_items li{
    padding: 0 0.5rem;
}

.right-toolbar_navigation_items a {
     
    text-decoration: none;
    color: #F5E336;
}
.right-toolbar_navigation_items a:hover,
.right-toolbar_navigation_items a:active
 {
    color: #F5E336;

}